{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}{{ if .Frameless }}widget-content-frameless{{ end }}{{ end }}

{{- define "widget-content" }}
{{- if and .IsTesting (not .HasResult) }}
<div class="speedtest-loading">
    <div class="loading-icon"></div>
    <div class="color-subdue size-h5">Running speed test</div>
</div>
{{- else }}
<div class="speedtest-metrics">
    <div class="speedtest-metric">
        <div class="speedtest-metric-label color-subdue size-h5">
            <svg class="speedtest-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v9.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3.75A.75.75 0 0 1 10 3Z" clip-rule="evenodd" />
            </svg>
            <span>DOWNLOAD</span>
        </div>
        {{ template "speedtest-change" .DownloadChange }}
        <div class="speedtest-metric-value color-highlight size-h2">{{ .Download }}</div>
        <div class="speedtest-metric-unit color-base size-h5">Mbps</div>
    </div>
    <div class="speedtest-metric">
        <div class="speedtest-metric-label color-subdue size-h5">
            <svg class="speedtest-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V6.56L6.03 9.78a.75.75 0 0 1-1.06-1.06l4.5-4.5a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06l-3.22-3.22v9.69A.75.75 0 0 1 10 17Z" clip-rule="evenodd" />
            </svg>
            <span>UPLOAD</span>
        </div>
        {{ template "speedtest-change" .UploadChange }}
        <div class="speedtest-metric-value color-highlight size-h2">{{ .Upload }}</div>
        <div class="speedtest-metric-unit color-base size-h5">Mbps</div>
    </div>
    <div class="speedtest-metric">
        <div class="speedtest-metric-label color-subdue size-h5">
            <span>PING</span>
        </div>
        {{ template "speedtest-change" .PingChange }}
        <div class="speedtest-metric-value color-highlight size-h2">{{ .Ping }}</div>
        <div class="speedtest-metric-unit color-base size-h5">ms</div>
    </div>
</div>
{{- end }}
{{- end }}

{{- define "speedtest-change" }}
{{- if . }}
<div class="speedtest-metric-change size-h5 {{ if .Improved }}color-positive{{ else }}color-negative{{ end }}">
    <svg class="speedtest-change-arrow{{ if not .Up }} speedtest-change-arrow-down{{ end }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
    </svg>
    <span>{{ printf "%+.1f" .Percent }}%</span>
</div>
{{- end }}
{{- end }}
